<div id='homeDiv' class="hello_world">
    <h1>Welcome to Simple Website</h1>
    <h3>Static Website Example</h3>
    <img src="app/assets/img/renda_icon.png"/> 
    <p>
        Each page on this website is independent such that there is no resource sharing between them
        <br/>(i.e seperate headers, navigation and assets).
    </p>  
    <p>
        <a href="javascript:renda.page('about')">About</a> |
        <a href="javascript:renda.page('contact')">Contact Us</a> |
        <a href="javascript:renda.page('services')">Services</a> |
        <a href="javascript:renda.page('error')">Error Page</a>
    </p>
</div>