<div id='homeDiv' class="hello_world">
    <h1 style="color:rgb(141, 226, 43)">Sample Website</h1>
    <h3>Our Services</h3>
    <p>
        <a href="javascript:renda.page('home')">Home</a> |
        <a href="javascript:renda.page('about')">About</a> |
        <a href="javascript:renda.page('contact')">Contact Us</a> |
        <a href="javascript:renda.page('services')">Services</a> |
        <a href="javascript:renda.page('error')">Error Page</a>
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at sem quis tellus lobortis maximus lacinia id nisi. Nunc hendrerit
        mollis eleifend. Phasellus a ante vel dolor aliquam fringilla. Aenean vulputate mauris sit amet quam porta pulvinar.
        Suspendisse vel lorem congue, accumsan lacus in, interdum nunc. Curabitur convallis dolor id lacus vestibulum, ac
        <ul>
            <li>semper urna viverra. Integer eu diam dolor. Aliquam ac aliquam enim, mollis porttitor magna. Donec quam ligula, iaculis</li>
            <li>et pulvinar ac, posuere at quam. Integer venenatis id justo ut fermentum. Phasellus sagittis mauris mi, et accumsan</li>
            <li>odio laoreet eget. Suspendisse gravida dolor leo, id facilisis mi fringilla quis. Cras tristique vulputate ligula</li>
            <li>sit amet cursus. Proin pulvinar finibus pulvinar. Curabitur nec risus enim. Sed quis libero sapien.</li>
        </ul>   
    </p>
    <img src="app/assets/img/renda_icon.png" />
</div>